
#Form{
    border: rgb(255, 255, 255) solid 0.5px;
    background-color: black;
    width: 250px;
    height: 350px;
    
}

body {
      background-color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

h1{
    margin-left: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#login{
    
    margin-left: 35px;
    width: 180px;
    border: 1px solid #ffffff;
    background-color: #0095f6;;
    border-radius: 4px;
}
#input{
    
    margin-left: 35px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    width: 180px;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}